



div.swiper-button-prev,
div.swiper-button-next {
  color:  #FFBA08;
  
}

div.swiper-button-prev:after,
div.swiper-button-next:after {
  
font-size: 32px;
line-height: 32px;
  
}



// and for bullets
span.swiper-pagination-bullet {
  background-color:  #FFBA08;
  ;
}
  
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';

 
